.card h2{
    color:#1f2937;
}

input:focus{
    outline:none;
    border:1px solid #4f46e5;
    box-shadow:0 0 5px rgba(79,70,229,0.3);
}

p{
    margin-top:15px;
    font-size:14px;
}

p a{
    color:#4f46e5;
    font-weight:bold;
}