body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
}

.navbar {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.container {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

.card {
    background: white;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #ff5e62;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #e04a4e;
}