body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
}

.navbar {
    background-color: #354edc;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 65%;
    margin: 90px auto;
    text-align: center;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #354edc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2236a5;
}